<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarfBuzzSharp" version="2.6.1.4" targetFramework="net46" />
  <package id="OxyPlot.Core" version="2.1.0-Preview1" targetFramework="net46" />
  <package id="OxyPlot.SkiaSharp" version="2.1.0-Preview1" targetFramework="net46" />
  <package id="OxyPlot.SkiaSharp.Wpf" version="2.1.0-Preview1" targetFramework="net46" />
  <package id="OxyPlot.Wpf.Shared" version="2.1.0-Preview1" targetFramework="net46" />
  <package id="SkiaSharp" version="1.68.3" targetFramework="net46" />
  <package id="SkiaSharp.HarfBuzz" version="1.68.3" targetFramework="net46" />
  <package id="SkiaSharp.Views.Desktop.Common" version="1.68.3" targetFramework="net46" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net46" />
  <package id="System.Memory" version="4.5.3" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
</packages>