<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jayrock" version="0.9.16530" targetFramework="net45" />
  <package id="jayrock-json" version="0.9.16530" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="PusherClient" version="0.5.1" targetFramework="net45" />
  <package id="QUIKSharp" version="1.0.0-beta2" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" />
</packages>